<!--   <div class="container">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>



  </div> -->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="chart.js"></script>
</head>
<body>



<div class="container">
  <h2>Inrobin</h2>
  <p>Insurer</p>

  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Temperature Heater</th>
        <th>Presure Heater</th>
        <th>Pressure Valve</th>
        <th>Flow Rate Valve</th>
        <th>WaterLevel Tank</th>
        <th>OEE Heater</th>
        <th>OEE Valve</th>
        <th>Overall OEE</th>
        <th>Predicted OEE</th>
        <th>Upper Bond</th>
        <th>Lower Bond</th>
        <th>Production Value</th>
        <th>Loss</th>
        <th>Daily Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr class="info">
        <% @row.each do |el| %>
          <td><%= el %></td>
        <% end %>
      </tr>
    </tbody>
  </table>



  <form action="/" method="get" id="reloader">
    <input type="hidden" name="index" value="<%= @i %>">
    <input type="submit" value="send">
  </form>
</div>

<div>
<!-- <canvas id="myChart" width="400" height="400"></canvas>
 -->
 <canvas id="myChart1" width="200" height="200"></canvas>


<%= image_tag("grafico.png")  %>
</div>
</body>
<script>
  $(document).ready(function() {


var ctx = document.getElementById("myChart1");
  var myChart1 = new Chart(ctx, {
      type: 'line',
      data: {
    labels: ["01/01/2008", "02/01/2008", "03/01/2008", "04/01/2008", "05/01/2008", "06/01/2008", "07/01/2008", "08/01/2008", "09/01/2008", "10/01/2008", "11/01/2008", "12/01/2008", "13/01/2008", "14/01/2008", "15/01/2008", "16/01/2008", "17/01/2008", "18/01/2008", "19/01/2008", "20/01/2008", "21/01/2008", "22/01/2008", "23/01/2008", "24/01/2008", "25/01/2008", "26/01/2008", "27/01/2008", "28/01/2008", "29/01/2008", "30/01/2008", "31/01/2008", "01/02/2008", "02/02/2008", "03/02/2008", "04/02/2008", "05/02/2008", "06/02/2008", "07/02/2008", "08/02/2008", "09/02/2008", "10/02/2008", "11/02/2008", "12/02/2008", "13/02/2008", "14/02/2008", "15/02/2008", "16/02/2008", "17/02/2008", "18/02/2008", "19/02/2008", "20/02/2008", "21/02/2008", "22/02/2008", "23/02/2008", "24/02/2008", "25/02/2008", "26/02/2008", "27/02/2008", "28/02/2008", "29/02/2008", "01/03/2008", "02/03/2008", "03/03/2008", "04/03/2008", "05/03/2008", "06/03/2008", "07/03/2008", "08/03/2008", "09/03/2008", "10/03/2008", "11/03/2008", "12/03/2008", "13/03/2008", "14/03/2008", "15/03/2008", "16/03/2008", "17/03/2008", "18/03/2008", "19/03/2008", "20/03/2008", "21/03/2008", "22/03/2008", "23/03/2008", "24/03/2008", "25/03/2008", "26/03/2008", "27/03/2008", "28/03/2008", "29/03/2008", "30/03/2008", "31/03/2008", "01/04/2008", "02/04/2008", "03/04/2008", "04/04/2008", "05/04/2008", "06/04/2008", "07/04/2008", "08/04/2008", "09/04/2008", "10/04/2008", "11/04/2008", "12/04/2008", "13/04/2008", "14/04/2008", "15/04/2008", "16/04/2008", "17/04/2008", "18/04/2008", "19/04/2008", "20/04/2008", "21/04/2008", "22/04/2008", "23/04/2008", "24/04/2008", "25/04/2008", "26/04/2008", "27/04/2008", "28/04/2008", "29/04/2008", "30/04/2008", "01/05/2008", "02/05/2008", "03/05/2008", "04/05/2008", "05/05/2008", "06/05/2008", "07/05/2008", "08/05/2008"],
    datasets: [
        {
            label: "My First dataset",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: ["0.8275", "0.8206", "0.8273", "0.8171", "0.8271", "0.8205", "0.8072", "0.8072", "0.8237", "0.8337", "0.8103", "0.817", "0.8136", "0.8203", "0.8303", "0.8269", "0.8203", "0.8302", "0.8342", "0.8302", "0.8205", "0.8336", "0.8136", "0.814", "0.8298", "0.8098", "0.8298", "0.8268", "0.8069", "0.8332", "0.8297", "0.7997", "0.7964", "0.8297", "0.8197", "0.8263", "0.8299", "0.8035", "0.8137", "0.8035", "0.8167", "0.8135", "0.8035", "0.8103", "0.8035", "0.797", "0.8003", "0.8302", "0.8069", "0.8102", "0.8368", "0.8101", "0.8334", "0.8301", "0.8101", "0.8267", "0.8369", "0.8134", "0.8103", "0.8334", "0.8201", "0.817", "0.8337", "0.8273", "0.8176", "0.8275", "0.8073", "0.8206", "0.8274", "0.8277", "0.7914", "0.808", "0.8125", "0.808", "0.8078", "0.7876", "0.8208", "0.8008", "0.804", "0.8144", "0.8277", "0.8077", "0.8144", "0.8247", "0.8214", "0.8117", "0.8015", "0.8014", "0.8112", "0.8146", "0.8012", "0.8112", "0.8146", "0.8079", "0.8212", "0.7979", "0.8243", "0.8045", "0.8311", "0.8178"],
            spanGaps: false,
        }
    ]
},
  });

  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Item 1', 'Item 2', 'Item 3'],
        datasets: [
            {
                type: 'bar',
                label: 'Bar Component',
                data: [10, 20, 30],
            },
            {
                type: 'line',
                label: 'Line Component',
                data: [30, 20, 10],
            }
        ]
    }
});

    setTimeout(function(){
      $( "#reloader" ).submit();
    }, 5000);
  });






</script>
</html>

